.course-btns {
  text-align: left;
  margin-top: 3rem;
}

.course-btns > button {
  width: 9rem;
  margin-right: 0.5rem;
  font-weight: bold;
}

.course-btns > a {
  margin-right: 0.5rem;
}
.course-btns > a,
.course-btns > a:hover {
  background-color: transparent;
}
