.Loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #419bee;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 0.2s linear infinite; /* Safari */
  animation: spin 0.2s linear infinite;
  margin: 5em auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
