.course-card-subject {
  display: flex;
  justify-content: space-between;
}
.card-link-el {
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card-link-el:hover {
  text-decoration: none;
  color: black;
  background: aliceblue;
}
